:root {
    --text-color-white: #fefefe;
    --text-color-yellow: #FAFF00;
    --text-color-blue: #307BEC;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



* {
    margin: 0;
    box-sizing: border-box;;
}

body {
    vertical-align: center;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color:#272727;
    font-family: "Inter", sans-serif;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

header h1 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: var(--text-color-yellow);
    padding-bottom: 20px;
    
}

header p {

    width: 59%;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    color: var(--text-color-yellow);
    
}

.container-section{
    display: flex;
    flex-direction: column;
    height: 370px;

}

nav {
    position: relative;
    display: flex;
    padding-bottom: 40px;
    padding-left: 7%;
    padding-right: 7%;
    justify-content: flex-start;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    gap:32px;

}

nav ul li a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color-white);
}
 nav p {
    font-size: 16x;
    font-weight: 600;
 }

 nav .view-more {
    position: absolute;
    right: 7%;
    font-size: 16px;
    font-weight: 600;
    color:var(--text-color-yellow);
 }

section {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

article {
    border-radius: 8px;
    border: 1px solid #5e5e5e;
    padding: 12px;
    height: auto;
    width: 21%;
    display: inline-block;
    background-color: #404040;
}

.article-header {
    padding-bottom: 8px;
    width: 100%;
    height: 130px;
}


.article-header img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-body{
    color: #fff;
}

.article-body a {
    font-size: 14px;
    font-weight: 600;
  
   
}

.article-body p{
    font-size: 14px;
    font-weight: 400;
    padding-top: 15px;
}

.article-footer {
    font-size: 12px;
    font-weight: 600;
    padding-top: 15px;
    color: var(--text-color-blue);
}

.bottom-nav {
    display: none;
}

nav .view-more {
    display: block;
} 

@media (max-width: 768px) {

body {
        display: flex;
        flex-direction: column;
    }

section {
        flex-direction: column;
        padding: 10px;
        justify-content: center;
 }

header {
    padding: 10px;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

    nav .view-more {
    display: none;  
   
}

.bottom-nav {
    display: flex;
    padding-top: 6%;
    padding-bottom: 20%;
    justify-content: center;  
    color: var(--text-color-yellow); 
} 

.bottom-nav .view-more {
    display: flex;
    font-size: 16px;
    font-weight: 600;
}


article {
    width: 100%;
    display: flex;
    height: auto;
    gap: 12px;
}

.article-header {
    padding-bottom: 8px;
    width: auto;
    height: 130px;
    aspect-ratio: 1;
}

.title-card {
    display: none;
}

.article-body p{
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; 
    line-clamp: 2; 
   -webkit-box-orient: vertical;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

header h1 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: var(--text-color-yellow);
    padding-bottom: 20px;
    
}

header p {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    color: var(--text-color-yellow);
    
}


}