$blue: #0064DA;
$baby-blue: #A5CEFF;
$black: #000000;
$white: #FFFFFF;
$dropshadow: #051449;
$dropshadow-secundary: #0514491A;
$primary-silver: #F5F5F5;
$silver-line: #B8B8B8;
$silver-line-secondary: #EBEBEB;
$secondary-silver: #DFDFDF;
$deep-silver: #C4C4C4;
$tertiary-silver: #ECEBEB;
$purple: #7B61FF;
$brown: #220000;
$button-dropshadow: #0000000D;

.btn {
    text-decoration: none;
    width: auto;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
}
.btn-round {
    border-radius: 19px;

}
.btn-signin{
    width: 82px;
    height: 33px;
    width: 82px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 0;
}
.btn-signup{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 33px;
    color: $white;
    background-color: $black;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 0;
}

// botões hero section
.btn-trial{
    color: $white;
    background-color: $blue;
    border: none;
}

.btn-trial:hover{
    background-color: $black;
}

.btn-trial:focus{
    background-color: $black;
}

.btn-learnmore{
    color: $white;
    background-color: $blue;
    border: none;
}
.btn-learnmore:hover{
    background-color: $black;
}

.btn-learnmore:focus{
    background-color:$black;
}



.btn-video {
    position:absolute;
    padding: 8px 16px;
    background-color: $blue;
    color: $white;
    border: none;
    font-size: 14px;
    font-weight: 400;
    bottom: -5%;
}

.btn-signin {
    text-decoration: none;
    color: $black
}
// botoes articles header
.btn-development {
    display: flex;
    align-items: center;
    width: auto;
    height: 20px;
    font-size: 10px;
    font-weight: 400;
    background-color: $white;
    border: 0.5px solid $tertiary-silver; 
    box-shadow: 0px 1px 3px 0px $button-dropshadow;


}
.btn-development:hover {
    
    background-color: $blue;
    color: $white;
    border: 0.5px solid $tertiary-silver; 
    box-shadow: 0px 1px 3px 0px $button-dropshadow;
}
.btn-development:focus {
    
    background-color: $blue;
    color: $white;
    border: 0.5px solid $purple; 
    box-shadow: 0px 1px 3px 0px $button-dropshadow;
}

.btn-blockchain {
    display: flex;
    align-items: center;
    width: auto;
    height: 20px;
    font-size: 10px;
    font-weight: 400;
    background-color: $white;
    border: 0.5px solid $tertiary-silver; 
    box-shadow: 0px 1px 3px 0px $button-dropshadow;
}
.btn-blockchain:hover {
    
    background-color: $blue;
    color: $white;
    border: 0.5px solid $tertiary-silver; 
    box-shadow: 0px 1px 3px 0px $button-dropshadow;
}
.btn-blockchain:focus {
    
    background-color: $blue;
    color: $white;
    border: 0.5px solid $purple; 
    box-shadow: 0px 1px 3px 0px $button-dropshadow;
}


.btn-nextjs {
    display: flex;
    align-items: center;
    width: auto;
    height: 20px;
    font-size: 10px;
    font-weight: 400;
    background-color: $white;
    border: 0.5px solid $tertiary-silver; 
    box-shadow: 0px 1px 3px 0px $button-dropshadow;
}

.btn-nextjs:hover {
    
    background-color: $blue;
    color: $white;
    border: 0.5px solid $tertiary-silver; 
    box-shadow: 0px 1px 3px 0px $button-dropshadow;
}
.btn-nextjs:focus {
    
    background-color: $blue;
    border: 0.5px solid $purple; 
    box-shadow: 0px 1px 3px 0px $button-dropshadow;
}


.btn-reactjs {
    display: flex;
    align-items: center;
    width: auto;
    height: 20px;
    font-size: 10px;
    font-weight: 400;
    background-color: $white;
    border: 0.5px solid $tertiary-silver; 
    box-shadow: 0px 1px 3px 0px $button-dropshadow;
}
.btn-reactjs:hover {
    
    background-color: $blue;
    color: $white;
    border: 0.5px solid $tertiary-silver; 
    box-shadow: 0px 1px 3px 0px $button-dropshadow;
}
.btn-reactjs:focus {
    
    background-color: $blue;
    color: $white;
    border: 0.5px solid $purple; 
    box-shadow: 0px 1px 3px 0px $button-dropshadow;
}


// botõews cartões
.btn-development-secundary {
    display: flex;
    align-items: center;
    width: auto;
    height: 18px;
    font-size: 8px;
    font-weight: 400;
    background-color: $white;
    border: 0.5px solid $tertiary-silver;
    box-shadow: 0px 1px 3px 0px $button-dropshadow;
}
.btn-development-secundary:hover {
    
    background-color: $blue;
    color: $white;
    border: 0.5px solid $tertiary-silver; 
    box-shadow: 0px 1px 3px 0px $button-dropshadow;
}
.btn-development-secundary:focus {
    
    background-color: $blue;
    color: $white;
    border: 0.5px solid $purple; 
    box-shadow: 0px 1px 3px 0px $button-dropshadow;
}


.btn-blockchain-secundary {
    display: flex;
    align-items: center;
    width: auto;
    height: 18px;
    font-size: 8px;
    font-weight: 400;
    background-color: $white;
    border: 0.5px solid $tertiary-silver;
    box-shadow: 0px 1px 3px 0px $button-dropshadow;
}
.btn-blockchain-secundary:hover {
    
    background-color: $blue;
    color: $white;
    border: 0.5px solid $tertiary-silver; 
    box-shadow: 0px 1px 3px 0px $button-dropshadow;
}
.btn-blockchain-secundary:focus {
    
    background-color: $blue;
    color: $white;
    border: 0.5px solid $purple; 
    box-shadow: 0px 1px 3px 0px $button-dropshadow;
}

// botão advertising section
.btn-advertising{
    display: flex;
    align-items: center;
    width: auto;
    height: 33px;
    font-size: 14px;
    font-weight: 400;
    color: $blue;
    background-color: $white;
    padding: 8px 16px 8px 16px;
    border: none;
    cursor: pointer;
}