.btn {
    text-decoration: none;
    width: auto;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
}
.btn-round {
    border-radius: 19px;
}

.btn-signup{
    color: white;
    background-color: #000000;
}

// botões hero section
.btn-trial{
    color: white;
    background-color: #0064DA;
    border: none;
}

.btn-trial:hover{
    background-color: #000000;
}

.btn-trial:focus{
    background-color: #000000;
}

.btn-learnmore{
    color: white;
    background-color: #0064DA;
    border: none;
}
.btn-learnmore:hover{
    background-color: #000000;
}

.btn-learnmore:focus{
    background-color: #000000;
}



.btn-video {
    position:absolute;
    padding: 8px 16px;
    background-color: #0064DA;
    color: #FFFFFF;
    border: none;
    font-size: 14px;
    font-weight: 400;
    bottom: -5%;
}

.btn-signin {
    text-decoration: none;
    color: #000000
}
// botoes articles header
.btn-development {
    display: flex;
    align-items: center;
    width: auto;
    height: 20px;
    font-size: 10px;
    font-weight: 400;
    background-color: #FFFFFF;
    border: 0.5px solid #ECEBEB; 
}
.btn-development:hover {
    
    background-color: #0064DA;
    color: #FFFFFF;
    border: 0.5px solid #ECEBEB; 
}
.btn-development:focus {
    
    background-color: #0064DA;
    color: #FFFFFF;
    border: 0.5px solid #7B61FF; 
}

.btn-blockchain {
    display: flex;
    align-items: center;
    width: auto;
    height: 20px;
    font-size: 10px;
    font-weight: 400;
    background-color: #FFFFFF;
    border: 0.5px solid #ECEBEB; 
}
.btn-blockchain:hover {
    
    background-color: #0064DA;
    color: #FFFFFF;
    border: 0.5px solid #ECEBEB; 
}
.btn-blockchain:focus {
    
    background-color: #0064DA;
    color: #FFFFFF;
    border: 0.5px solid #7B61FF; 
}


.btn-nextjs {
    display: flex;
    align-items: center;
    width: auto;
    height: 20px;
    font-size: 10px;
    font-weight: 400;
    background-color: #FFFFFF;
    border: 0.5px solid #ECEBEB; 
}

.btn-nextjs:hover {
    
    background-color: #0064DA;
    color: #FFFFFF;
    border: 0.5px solid #ECEBEB; 
}
.btn-nextjs:focus {
    
    background-color: #0064DA;
    color: #FFFFFF;
    border: 0.5px solid #7B61FF; 
}


.btn-reactjs {
    display: flex;
    align-items: center;
    width: auto;
    height: 20px;
    font-size: 10px;
    font-weight: 400;
    background-color: #FFFFFF;
    border: 0.5px solid #ECEBEB; 
}
.btn-reactjs:hover {
    
    background-color: #0064DA;
    color: #FFFFFF;
    border: 0.5px solid #ECEBEB; 
}
.btn-reactjs:focus {
    
    background-color: #0064DA;
    color: #FFFFFF;
    border: 0.5px solid #7B61FF; 
}


// botõews cartões
.btn-development-secundary {
    display: flex;
    align-items: center;
    width: auto;
    height: 18px;
    font-size: 8px;
    font-weight: 400;
    background-color: #FFFFFF;
    border: 0.5px solid #ECEBEB;
}
.btn-development-secundary:hover {
    
    background-color: #0064DA;
    color: #FFFFFF;
    border: 0.5px solid #ECEBEB; 
}
.btn-development-secundary:focus {
    
    background-color: #0064DA;
    color: #FFFFFF;
    border: 0.5px solid #7B61FF; 
}


.btn-blockchain-secundary {
    display: flex;
    align-items: center;
    width: auto;
    height: 18px;
    font-size: 8px;
    font-weight: 400;
    background-color: #FFFFFF;
    border: 0.5px solid #ECEBEB;
}
.btn-blockchain-secundary:hover {
    
    background-color: #0064DA;
    color: #FFFFFF;
    border: 0.5px solid #ECEBEB; 
}
.btn-blockchain-secundary:focus {
    
    background-color: #0064DA;
    color: #FFFFFF;
    border: 0.5px solid #7B61FF; 
}

// botão advertising section
.btn-advertising{
    display: flex;
    align-items: center;
    width: auto;
    height: 33px;
    font-size: 14px;
    font-weight: 400;
    color: #0064DA;
    background-color: #FFFFFF;
    padding: 8px 16px 8px 16px;
    border: none;
    cursor: pointer;
}