.btn {
  text-decoration: none;
  width: auto;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
}

.btn-round {
  border-radius: 19px;
}

.btn-signin {
  width: 82px;
  height: 33px;
  width: 82px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 0;
}

.btn-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 33px;
  color: #FFFFFF;
  background-color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 0;
}

.btn-trial {
  color: #FFFFFF;
  background-color: #0064DA;
  border: none;
}

.btn-trial:hover {
  background-color: #000000;
}

.btn-trial:focus {
  background-color: #000000;
}

.btn-learnmore {
  color: #FFFFFF;
  background-color: #0064DA;
  border: none;
}

.btn-learnmore:hover {
  background-color: #000000;
}

.btn-learnmore:focus {
  background-color: #000000;
}

.btn-video {
  position: absolute;
  padding: 8px 16px;
  background-color: #0064DA;
  color: #FFFFFF;
  border: none;
  font-size: 14px;
  font-weight: 400;
  bottom: -5%;
}

.btn-signin {
  text-decoration: none;
  color: #000000;
}

.btn-development {
  display: flex;
  align-items: center;
  width: auto;
  height: 20px;
  font-size: 10px;
  font-weight: 400;
  background-color: #FFFFFF;
  border: 0.5px solid #ECEBEB;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-development:hover {
  background-color: #0064DA;
  color: #FFFFFF;
  border: 0.5px solid #ECEBEB;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-development:focus {
  background-color: #0064DA;
  color: #FFFFFF;
  border: 0.5px solid #7B61FF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-blockchain {
  display: flex;
  align-items: center;
  width: auto;
  height: 20px;
  font-size: 10px;
  font-weight: 400;
  background-color: #FFFFFF;
  border: 0.5px solid #ECEBEB;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-blockchain:hover {
  background-color: #0064DA;
  color: #FFFFFF;
  border: 0.5px solid #ECEBEB;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-blockchain:focus {
  background-color: #0064DA;
  color: #FFFFFF;
  border: 0.5px solid #7B61FF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-nextjs {
  display: flex;
  align-items: center;
  width: auto;
  height: 20px;
  font-size: 10px;
  font-weight: 400;
  background-color: #FFFFFF;
  border: 0.5px solid #ECEBEB;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-nextjs:hover {
  background-color: #0064DA;
  color: #FFFFFF;
  border: 0.5px solid #ECEBEB;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-nextjs:focus {
  background-color: #0064DA;
  border: 0.5px solid #7B61FF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-reactjs {
  display: flex;
  align-items: center;
  width: auto;
  height: 20px;
  font-size: 10px;
  font-weight: 400;
  background-color: #FFFFFF;
  border: 0.5px solid #ECEBEB;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-reactjs:hover {
  background-color: #0064DA;
  color: #FFFFFF;
  border: 0.5px solid #ECEBEB;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-reactjs:focus {
  background-color: #0064DA;
  color: #FFFFFF;
  border: 0.5px solid #7B61FF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-development-secundary {
  display: flex;
  align-items: center;
  width: auto;
  height: 18px;
  font-size: 8px;
  font-weight: 400;
  background-color: #FFFFFF;
  border: 0.5px solid #ECEBEB;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-development-secundary:hover {
  background-color: #0064DA;
  color: #FFFFFF;
  border: 0.5px solid #ECEBEB;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-development-secundary:focus {
  background-color: #0064DA;
  color: #FFFFFF;
  border: 0.5px solid #7B61FF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-blockchain-secundary {
  display: flex;
  align-items: center;
  width: auto;
  height: 18px;
  font-size: 8px;
  font-weight: 400;
  background-color: #FFFFFF;
  border: 0.5px solid #ECEBEB;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-blockchain-secundary:hover {
  background-color: #0064DA;
  color: #FFFFFF;
  border: 0.5px solid #ECEBEB;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-blockchain-secundary:focus {
  background-color: #0064DA;
  color: #FFFFFF;
  border: 0.5px solid #7B61FF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0509803922);
}

.btn-advertising {
  display: flex;
  align-items: center;
  width: auto;
  height: 33px;
  font-size: 14px;
  font-weight: 400;
  color: #0064DA;
  background-color: #FFFFFF;
  padding: 8px 16px 8px 16px;
  border: none;
  cursor: pointer;
}/*# sourceMappingURL=buttons.css.map */