@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import "./buttons.css";

body {
    max-width: 100vw;
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
    
}



header {
    width: 100%;
    height: 64px;
    .headerDesktop-container {
        display: flex;
        align-items: center;
        border-bottom: solid 1px #DFDFDF;
        padding: 8px 16px 8px 16px;
    }

    .headerDesktop-middle {
        display: flex;
        flex-direction: row;
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 20px;
           
            li {
                a{
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 400;
                    color: #000000;
                }
            }
        }

    }
    

    .headerDesktop-links {
        display: inline-flex;
        justify-content: center;
        right: 0;
        gap: 20px;
        padding: 8px 16px 8px 16px;
        margin-left: auto;
      

    }
}
section{
    display: flex;
    justify-content: center;

}
.hero-section {
    text-align: center;
    .hero-section-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        width: 60%;
        font-size: 64px;
        font-weight: 700;
        line-height: 77px;
        margin: 0;
    }
    p {
        width: 50%;
        text-align: center;
        padding: 0 2%;
        font-size: 24px;
        font-weight: 400;
    }
    .hero-video{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3%;
       
    }
}
.about-section {
    text-align: center;
}
.section-container{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.cards-section-container{
    text-align: center;
}
.card-container{
    display: flex;
    justify-content: center;
}
.cards-section {
    width: 539px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .card {
        box-sizing: content-box;
        height: 169px;
        width: 143px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        border: 1px solid #DFDFDF;
        border-radius: 4px;
    
        .circle {
          width: 44px;
          height: 44px;
          background-color: blue;
          border-radius: 50%;
        }
        h4{
           font-size: 14px;
           font-weight: 400px;
           margin: 0px;
           padding: 8px;
        }
        p{
            text-align: center;
            font-size: 10px;
            font-weight: 400px;
            line-height: 15px;
            
        }
      }
  }

.advertising-section{
    display: flex;
    justify-content: center;
    .advertising-section-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        height: 202px;
        background-color: blue;

    }
}

.articles-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
  
    .article-header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 3%;
      .articles-header-buttons{
        display: flex;
        gap: 12px;
      }
    }
  
    .article-body {
      display: flex;
      flex-wrap: wrap;
      width: 935px;
      gap: 20px;
  
      .wrapper-box {
        display: flex;
        flex-direction: column;
        width: 218px;
        height: auto;
        gap: 12px;
       
  
        .wrapper-box-img {
          width: 218px;
          height: 121px;
          background-color: silver;
        }
        .wrapper-box-buttons{
            display: flex;
            flex-direction: row;
        }
        .wrapper-box-text{
            text-align: left;
            font-size: 10px;
            line-height: 15px;
        }
        .wrapper-box-user{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            .user-circle{
                width: 20px;
                height: 20px;
                border-radius: 13px;
                background-color: silver;
            }
            h6 {
                font-size: 8px;
                font-weight: 400;
            }
        }
      }
    }
  }

footer {
    display: flex;
    justify-content: space-around;

    .footer-middle-left{
        display: flex;
        flex-direction: column;
    }
    .footer-middle-rigth {
        display: flex;
        flex-direction: column;
    }
}



