@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    max-width: 100vw;
    padding: 0px;
    margin: 0px;
    font-family: "inner", sans-serif;
}

header {
    width: 100%;
    .headerDesktop-container {
        display: flex;
        align-items: center;
        border-bottom: solid 1px red;
    }
    .headerDesktop-middle {
        display: flex;
        flex-direction: row;
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 20px;
           
            li {
                a{
                    text-decoration: none;
                }
            }
        }

    }
    .headerDesktop-sign {
        display: inline-flex;
        justify-content: center;
        position: fixed;
        right: 0;
        gap: 20px;
    }
}
