@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "./buttons.css";
body {
  max-width: 1600px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 64px;
}
header .headerDesktop-container {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #DFDFDF;
  padding: 8px 16px 8px 16px;
}
header .headerDesktop-logo {
  width: 27px;
  height: auto;
}
header .headerDesktop-middle {
  display: flex;
  flex-direction: row;
}
header .headerDesktop-middle ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
}
header .headerDesktop-middle ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}
header .headerDesktop-links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 8px 16px 8px 16px;
  margin-left: auto;
}

section {
  display: flex;
  justify-content: center;
}

.hero-section {
  text-align: center;
  padding-top: 8%;
  padding-bottom: 18%;
}
.hero-section .hero-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-section h1 {
  width: 60%;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  margin: 0;
}
.hero-section p {
  width: 58%;
  text-align: center;
  padding: 0 2%;
  font-size: 24px;
  font-weight: 400;
}
.hero-section .hero-button {
  display: flex;
  gap: 10px;
}
.hero-section .hero-video {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}
.hero-section .hero-video .video {
  border-radius: 4px;
  width: 460px;
  height: auto;
}

.about-section {
  width: 100%;
  text-align: center;
  background-color: #F5F5F5;
  padding-top: 3%;
  padding-bottom: 3%;
}
.about-section .about-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about-section .about-section-container .about-section-line {
  position: absolute;
  top: -40px;
  width: 100px;
  border: 1px solid #B8B8B8;
  transform: rotate(90deg);
}
.about-section .about-section-container h1 {
  font-size: 40px;
  font-weight: 500;
}
.about-section .about-section-container p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  width: 50%;
}
.about-section .about-section-container .about-section-image {
  display: flex;
}
.about-section .about-section-container .about-section-image img {
  width: 632px;
  height: auto;
  box-shadow: 0px 2px 10px 2px rgba(5, 20, 73, 0.1019607843);
}

.section-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2%;
  padding-top: 2%;
  background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 50%, #220000 50%, #220000 100%);
}

.cards-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards-section-container h1 {
  font-size: 40px;
  font-weight: 500;
}
.cards-section-container p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  width: 40%;
}

.card-container {
  display: flex;
  justify-content: center;
}

.cards-section {
  width: 539px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cards-section .card {
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  box-sizing: content-box;
  height: 145px;
  width: 143px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
}
.cards-section .card .circle {
  width: 44px;
  height: 44px;
  background-color: #0064DA;
  border-radius: 50%;
}
.cards-section .card h4 {
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  padding: 8px;
}
.cards-section .card p {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  margin: 0px;
}
.cards-section .card:hover {
  background-color: #0064DA;
  border: 1px solid #0064DA;
  transform: translateY(-5px);
}
.cards-section .card:hover .circle {
  background-color: #FFFFFF;
}
.cards-section .card:hover h4 {
  color: #FFFFFF;
}
.cards-section .card:hover p {
  color: #FFFFFF;
}

.articles-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  padding-top: 5%;
}
.articles-section .article-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3%;
}
.articles-section .article-header h1 {
  font-size: 30px;
  font-weight: 500;
}
.articles-section .article-header .articles-header-buttons {
  display: flex;
  gap: 12px;
}
.articles-section .article-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
.articles-section .article-body .wrapper-box {
  display: flex;
  flex-direction: column;
  width: 218px;
  height: auto;
  gap: 12px;
}
.articles-section .article-body .wrapper-box .wrapper-box-img {
  width: 218px;
  height: 121px;
  background-color: #C4C4C4;
}
.articles-section .article-body .wrapper-box .wrapper-box-buttons {
  display: flex;
  flex-direction: row;
}
.articles-section .article-body .wrapper-box .wrapper-box-text {
  text-align: left;
  font-size: 10px;
  line-height: 15px;
}
.articles-section .article-body .wrapper-box .wrapper-box-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.articles-section .article-body .wrapper-box .wrapper-box-user .user-circle {
  width: 20px;
  height: 20px;
  border-radius: 13px;
  background-color: #C4C4C4;
}
.articles-section .article-body .wrapper-box .wrapper-box-user h6 {
  font-size: 8px;
  font-weight: 400;
}

.advertising-section {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  width: 85%;
}
.advertising-section .advertising-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 202px;
  background-color: #0064DA;
  padding-left: 3%;
  padding-right: 3%;
}
.advertising-section .advertising-section-container p {
  font-size: 30px;
  color: #FFFFFF;
  font-weight: 400;
}

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 2%;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-top: solid 1px #DFDFDF;
}
footer .footer-left {
  display: flex;
  flex-direction: column;
}
footer .footer-left h1 {
  font-size: 14px;
  font-weight: 400;
}
footer .footer-left p {
  font-size: 14px;
  font-weight: 400;
}
footer input[type=email] {
  width: 241px;
  height: 33px;
  box-sizing: border-box;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
footer input[type=submit] {
  width: 99px;
  height: 33px;
  box-sizing: border-box;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
footer .footer-middle-container {
  display: flex;
  gap: 200px;
}
footer .footer-middle-left {
  display: flex;
  flex-direction: column;
}
footer .footer-middle-left h1 {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20%;
  font-weight: 400;
}
footer .footer-middle-left a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  font-weight: 400;
}
footer .footer-middle-rigth {
  display: flex;
  flex-direction: column;
}
footer .footer-middle-rigth h1 {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20%;
  font-weight: 400;
}
footer .footer-middle-rigth a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  font-weight: 400;
}
footer .footer-rigth {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .headerDesktop {
    width: 100%;
  }
  .headerDesktop-container {
    padding: 2px 0px 8px 10px;
  }
  .headerDesktop-middle {
    overflow: hidden;
    visibility: hidden;
  }
  .hero-section {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 30%;
  }
  .hero-section .hero-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-section h1 {
    width: 90%;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
  }
  .hero-section p {
    width: 80%;
    text-align: center;
    padding: 0 2%;
    font-size: 16px;
    font-weight: 400;
  }
  .hero-section .hero-button {
    display: flex;
    gap: 10px;
  }
  .hero-section .hero-video {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
  }
  .hero-section .hero-video .video {
    border-radius: 4px;
    width: 408px;
    height: auto;
  }
  .about-section {
    text-align: center;
    background-color: #F5F5F5;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
  }
  .about-section .about-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .about-section .about-section-container .about-section-line {
    position: absolute;
    top: -40px;
    width: 100px;
    border: 1px solid #B8B8B8;
    transform: rotate(90deg);
  }
  .about-section .about-section-container h1 {
    font-size: 24px;
    font-weight: 500;
  }
  .about-section .about-section-container p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 50%;
  }
  .about-section .about-section-container .about-section-image {
    display: flex;
    justify-content: center;
  }
  .about-section .about-section-container .about-section-image img {
    width: 93%;
    height: auto;
    border-top: solid 2px #A5CEFF;
    border-bottom: solid 2px #A5CEFF;
    box-shadow: 0px 2px 10px 2px rgba(5, 20, 73, 0.1019607843);
  }
  .cards-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .cards-section-container h1 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
  }
  .cards-section-container p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-align: center;
    width: 63%;
  }
  .section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2%;
    padding-top: 7%;
    background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 35%, #F5F5F5 35%, #F5F5F5 100%);
  }
  .cards-section {
    width: 354px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .cards-section .card {
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    box-sizing: content-box;
    height: 149px;
    width: 143px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
  }
  .cards-section .card .circle {
    width: 44px;
    height: 44px;
    background-color: #0064DA;
    border-radius: 50%;
  }
  .cards-section .card h4 {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    padding: 8px;
  }
  .cards-section .card p {
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    margin: 0px;
  }
  .articles-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .articles-section .article-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3%;
  }
  .articles-section .article-header h1 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    text-align: center;
    width: 80%;
  }
  .articles-section .article-header .articles-header-buttons {
    display: flex;
    gap: 12px;
  }
  .articles-section .article-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
  }
  .articles-section .article-body .wrapper-box {
    display: flex;
    flex-direction: column;
    width: 198px;
    height: auto;
    gap: 8px;
  }
  .articles-section .article-body .wrapper-box .wrapper-box-img {
    width: 100%;
    height: 121px;
    background-color: #C4C4C4;
  }
  .articles-section .article-body .wrapper-box .wrapper-box-buttons {
    display: flex;
    flex-direction: row;
  }
  .articles-section .article-body .wrapper-box .wrapper-box-text {
    text-align: left;
    font-size: 10px;
    line-height: 15px;
  }
  .articles-section .article-body .wrapper-box .wrapper-box-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .articles-section .article-body .wrapper-box .wrapper-box-user .user-circle {
    width: 20px;
    height: 20px;
    border-radius: 13px;
    background-color: #C4C4C4;
  }
  .articles-section .article-body .wrapper-box .wrapper-box-user h6 {
    font-size: 8px;
    font-weight: 400;
  }
  .advertising-section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10%;
  }
  .advertising-section .advertising-section-container {
    width: 100%;
    height: 383px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    background-color: #0064DA;
  }
  .advertising-section .advertising-section-container p {
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    font-weight: 400;
    margin: 0px;
  }
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 4%;
    padding-top: 1%;
    border-top: solid 1px #DFDFDF;
  }
  footer .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer-left .foooter-header-subscribe {
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
  }
  footer .footer-left h1 {
    font-size: 14px;
    font-weight: 400;
  }
  footer .footer-left p {
    font-size: 14px;
    font-weight: 400;
  }
  footer input[type=email] {
    width: 241px;
    height: 33px;
    box-sizing: border-box;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
  }
  footer input[type=submit] {
    width: 99px;
    height: 33px;
    box-sizing: border-box;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
  footer .footer-middle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
  }
  footer .footer-middle-left {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer .footer-middle-left .footer-col-1-header {
    font-weight: 700;
  }
  footer .footer-middle-left h1 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 0%;
    font-weight: 400;
  }
  footer .footer-middle-left a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    font-weight: 400;
  }
  footer .footer-middle-rigth {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer .footer-middle-rigth .footer-col-1-header {
    font-weight: 700;
  }
  footer .footer-middle-rigth h1 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 0%;
    font-weight: 400;
  }
  footer .footer-middle-rigth a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    font-weight: 400;
  }
  footer .footer-rigth {
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 15%;
  }
  footer .footer-rigth .footer-logo {
    width: 176px;
    height: auto;
  }
}/*# sourceMappingURL=styles.css.map */