
.container {
    display: flex;
    flex-direction: column;
    gap:40px;
}

.buttons--group {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

button {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    justify-content: center;
    height: 40px;
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 16px;

}



 i, .feather {
    width: 20px;
    height: 20px;
    align-items: center;
    
}
/* Botão azul */
.btn--blue {
    background-color: #0070D2;
    color: white;
}

.btn--blue {

}