

.form-container{
    position: relative;
    display: flex;
    flex-direction: column;
}

input, label {
    display: block;
    padding: 0px 0px 10px 0px;
}

input {
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
    margin-bottom: 3em;
}

input:focus {
    box-shadow: 0 0 1px 1px #1589EE;
    border: none;
    outline: none;
}

input[type='text']{
   padding-top: 10px;
   padding-left: 10px;
  }

input:disabled {
    background-color: #DDDBDA;
}

.icon-left{
    position: absolute;
    left: 0;
    right:0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-label{
    color: red;
    padding-top: 0px;
}


